# Roblox builds and artifacts
*.rbxm
*.rbxmx
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock

# Roblox TS builds, artifacts, and packages
/node_modules
# We want to expose our compiled code so it can be installed correctly by directly using this repo
# /out
/include
*.tsbuildinfo
package-lock.json
